[data-bs-theme="light"] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif:
    system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace:
    SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}

[data-bs-theme="dark"] {
  color-scheme: dark;
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222, 226, 230;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #161719;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #41464b;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: inherit;
  --bs-link-color: #6ea8fe;
  --bs-link-hover-color: #8bb9fe;
  --bs-link-color-rgb: 110, 168, 254;
  --bs-link-hover-color-rgb: 139, 185, 254;
  --bs-code-color: #e685b5;
  --bs-highlight-color: #dee2e6;
  --bs-highlight-bg: #664d03;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f;
}

body {
  font-size: 15.3px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

.text-para {
  color: #4e5562;
}

::placeholder {
  color: #000 !important;
  font-size: 14px;
  opacity: 0.4 !important;
}

@mixin alignContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-toggle-nocaret:after {
  display: none;
}

.font-14 {
  font-size: 14px;
}
.font-12 {
  font-size: 12px;
}
.depth-10 {
  z-index: 10;
}
.w-220 {
  width: 220px;
}
.w-300 {
  width: 300px;
}
.h-250 {
  height: 250px !important;
}
.wh-60 {
  width: 60px;
  height: 60px;
  @include alignContent();
}
.discount-ribben {
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
  padding: 4px 12px;
  border-radius: 16px;
  background-color: #fd152c;
}

.form-check-input:focus {
  border-color: #4e4e4e;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0);
}
.form-check-input:checked {
  background-color: #212529;
  border-color: #212529;
}

.form-select:focus,
.form-control:focus {
  border-color: #212529;
  box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0);
}

.dropdown-menu {
  border: 0;
  box-shadow: var(--bs-box-shadow);
  .dropdown-item {
    &:focus {
      color: var(--bs-white);
      background-color: var(--bs-dark);
    }
  }
}

.btn-close {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--bs-border-color);
  padding: 0 !important;
  @include alignContent();
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0);
}

.top-header {
  position: relative;
  height: auto;
  z-index: 10;
  background-color: #212529;
  .top-strip {
    position: sticky;
    height: auto;
    .nav-link {
      font-size: 12px;
      color: #ffffff;
      text-transform: capitalize;
      border-radius: 0.25rem;
      border: 1px solid rgba(255, 255, 255, 0.25);
      &:hover {
        background-color: var(--bs-light-text-emphasis);
      }
    }
    .strip-social-links {
      .nav-link {
        font-size: 12px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .btn-language {
      font-size: 12px;
    }
  }
}

.navbar {
  background-color: #ffffff;
  min-height: 82px;
  .logo-img {
    width: 144px;
  }
  .logo-img2 {
    width: 130px;
  }
  .logo-text {
    font-weight: 600;
    font-size: 1.5rem;
    color: inherit;
    white-space: nowrap;
    &.footer-logo {
      font-size: 1.75rem;
      display: inline-block;
      margin-bottom: 0.5rem;
    }
  }
  .navbar-nav {
    .dropdown-menu {
      box-shadow: none;
      .dropdown-item {
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 500;
      }
    }
    .nav-link {
      color: var(--bs-body-color);
      font-size: 16px;
      text-transform: capitalize;
      font-weight: 500;
      padding: 0.375em 16px;
      border-radius: 0rem;
      border-bottom: 1px solid #e2e3e5;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (min-width: 1200px) {
        border: 0px solid #e2e3e5;
        border-radius: 0.375rem;
        padding: 0.375em 10px;
      }
      &:hover {
        color: var(--bs-body-color);
        background-color: var(--bs-secondary-bg-subtle);
      }
    }

    .mega-menu {
      background-color: #ffffff;
      .mega-menu-title {
        font-size: 18px;
      }
      .mega-menu-link {
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 500;
        width: fit-content;
      }
      .list-group-item {
        border-bottom: 0;
      }
    }

    @media (min-width: 1200px) {
      .dropdown-menu {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        animation: 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1
          animdropdown;
        margin: 0;
        padding: 0.5rem;
        --bs-dropdown-min-width: 12rem;
        display: none;
        .dropdown-item {
          text-transform: capitalize;
          font-size: 14px;
          font-weight: 500;
          border-radius: 0.375rem;
          padding: 0.375rem 0.5rem;
        }
      }
      .nav-item {
        &:hover {
          .dropdown-menu {
            display: block;
            .dropdown-menu {
              display: none;
            }
            .dropdown {
              &:hover {
                .dropdown-menu {
                  position: absolute;
                  top: 0;
                  left: 100%;
                  display: block;
                }
              }
            }
          }
        }
      }
      .mega-menu {
        position: absolute;
        background-color: #f9f9f9;
        width: auto;
        height: -moz-fit-content;
        height: fit-content;
        background-color: #ffffff;
        .mega-menu-title {
          font-size: 18px;
        }
        .mega-menu-link {
          font-size: 14px;
          text-transform: capitalize;
          font-weight: 500;
          width: fit-content;
        }
      }
    }
  }
  .nav-search {
    .nav-search-control {
      background-color: var(--bs-light);
      border: 2px solid var(--bs-light) !important;
      &:focus {
        background-color: var(--bs-body-bg);
        border: 2px solid var(--bs-dark) !important;
      }
    }
  }

  .right-links {
    .nav-link {
      color: var(--bs-body-color);
      font-size: 17px;
      width: 35px;
      height: 35px;
      border: 1px solid var(--bs-border-color);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      &:hover {
        background-color: var(--bs-secondary-bg-subtle);
      }
      .notify-badge {
        color: #fff;
        @include alignContent();
        width: 20px;
        height: 20px;
        font-size: 12px;
        position: absolute;
        top: -4px;
        right: 0;
        border-radius: 50%;
        background-color: #ec1313;
      }
    }
  }

  .btn-menu-close {
    @include alignContent;
    color: var(--bs-body-color);
    font-size: 17px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--bs-border-color);
    background-color: #fff;

    &:hover {
      background-color: var(--bs-secondary-bg-subtle);
    }
  }
}

.offcanvas-cart {
  width: 500px !important;
}

.search-modal {
  .form-control-search {
    &::placeholder {
      color: #000;
      font-size: 16px;
      opacity: 0.5;
    }
  }
}

@keyframes animdropdown {
  from {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--bs-body-color);
}

.swiper-pagination-bullet-active {
  color: var(--bs-body-color);
  background: var(--bs-body-color, var(--bs-body-color));
}

.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 14px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 14px)
  );
}

.swiper-wrapper {
  .sub-title {
    font-size: 16px;
    @media (min-width: 768px) {
      font-size: 20px;
    }
    font-weight: 500;
  }
  .large-title {
    font-size: 26px;
    font-weight: 500;
    @media (min-width: 768px) {
      font-size: 54px;
    }
  }
}

.slide-icon {
  color: #0d0c0c;
  font-size: 24px;
  width: 40px;
  height: 40px;
  @include alignContent();
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #e2e3e5;
  cursor: pointer;
}

.dealsSwiper {
  .swiper-nav {
    top: 30%;
    z-index: 10;
  }
}

.special-offer {
  .featured-img-wrap {
    overflow: hidden;
    border-radius: 0.75rem;

    img.featured-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .dealsSwiper .featured-img-wrap {
    aspect-ratio: 16 / 10;
  }

  .featured-img-wrap--square {
    aspect-ratio: 1 / 1;
  }

  .featured-img-wrap--product {
    aspect-ratio: 16 / 10;
    background-color: #f8f9fa;

    img.featured-img {
      object-fit: contain;
      padding: 1.25rem;
    }
  }

  .featured-listing-card {
    flex: 1;
  }
}

.featured-listings-compact {
  .featured-img-wrap--compact {
    aspect-ratio: 4 / 3;
    max-height: 130px;
    background-color: #f8f9fa;

    img.featured-img {
      object-fit: cover;
    }
  }

  .featured-img-wrap--product img.featured-img {
    object-fit: contain;
    padding: 0.5rem;
  }

  .featured-listing-price {
    font-size: 0.95rem;
    font-weight: 600;
  }
}

.main-slider {
  .slider-content {
    z-index: 2;
    pointer-events: none;

    a {
      pointer-events: auto;
    }
  }

  .swiper-slide {
    height: clamp(280px, 42vw, 520px);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center right;
    }
  }

  .swiper-nav {
    top: 50%;
    z-index: 10;
  }
}

.category-swiper-nav {
  position: relative;
  margin-top: 3rem;
  @media (min-width: 992px) {
    margin-top: 0rem;
    position: absolute;
  }
  top: 55%;
  z-index: 1;
  .categories-slider-icon-left {
    margin-left: -12px;
  }
  .categories-slider-icon-right {
    margin-right: -12px;
  }
}

.categories-catalog {
  .cat-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
  }
  .cat-title {
    color: var(--bs-body-color);
    font-size: 20px;
  }
  .cat-number {
    color: var(--bs-light-text-emphasis);
    font-size: 16px;
  }
}

.circular-category-img {
  width: 300px;
  height: 300px;
}

.team-photo {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  object-position: center top;
}

.team-info p {
  color: var(--bs-light-text-emphasis);
}

.about-page-img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  object-position: center;
}

.editors-picks {
  .editors-picks-icon {
    font-size: 18px;
    color: var(--bs-body-color);
  }

  .editors-picks-title {
    font-size: 18px;
    font-weight: 500;
    text-transform: lowercase;
    color: var(--bs-body-color);
  }
}

.editors-pick-card {
  display: block;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.editors-pick-img-wrap {
  overflow: hidden;
  background-color: #f5f5f5;
}

.editors-pick-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  object-position: center;
  display: block;
  background-color: #f5f5f5;
}

.editors-pick-wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  color: var(--bs-body-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  z-index: 2;

  &:hover {
    color: var(--bs-danger);
  }
}

.editors-pick-price {
  font-size: 15px;
  font-weight: 600;
  color: var(--bs-black);
}

.editors-pick-brand,
.editors-pick-size {
  font-size: 13px;
  color: #8a8a8a;
}

.editors-picks-slider {
  overflow: hidden;
}

.tabular-product {
  .nav-pills {
    width: max-content;
    width: -moz-max-content;
    background-color: #ffffff;
    .nav-link {
      color: var(--bs-body-color);
    }
    .active {
      color: var(--bs-white);
      background-color: var(--bs-dark);
    }
  }
}

.product-img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.product-price {
  color: var(--bs-black);
  font-size: 16px;
  font-weight: 500;
  .prev-price {
    @extend .product-price;
    color: #bcbcbc;
  }
}

.product-card {
  background-color: #fff;
  .product-name {
    color: var(--bs-body-color);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
  }

  .product-actions {
    visibility: hidden;
    opacity: 0;
    transition:
      visibility 0s linear 300ms,
      opacity 300ms;
    z-index: 5;
    .btn-action {
      font-size: 20px;
      color: var(--bs-white);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      @include alignContent();
      background-color: var(--bs-dark);
    }
  }
  .product-cart {
    visibility: hidden;
    opacity: 0;
    transition:
      visibility 0s linear 300ms,
      opacity 300ms;
    z-index: 5;
  }

  &:hover {
    .product-actions {
      visibility: visible;
      opacity: 1;
      transition:
        visibility 0s linear 0s,
        opacity 300ms;
    }
    .product-cart {
      visibility: visible;
      opacity: 1;
      transition:
        visibility 0s linear 0s,
        opacity 300ms;
    }
  }

  .product-img-wrap {
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;

    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    .product-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.product-card-list {
  .product-name {
    color: var(--bs-body-color);
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .product-short-desc {
    font-size: 16px;
  }
  .product-price {
    color: var(--bs-black);
    font-size: 18px;
    font-weight: 500;
    .prev-price {
      @extend .product-price;
      font-size: 16px;
      color: #bcbcbc;
    }
  }

  .product-actions {
    z-index: 5;
    .btn-action {
      font-size: 20px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      @include alignContent();
    }
  }
}

.btn-wishlist-delete {
  font-size: 18px;
  color: #0d0c0c;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  @include alignContent();
}

.cart-product-btn-delete {
  @extend .btn-wishlist-delete;
  width: 36px;
  height: 36px;
}

.shop-instagram {
  .instagram-block {
    transition: all 0.2s;
    &:hover {
      background-color: rgba(0, 0, 0, 0.25);
      .instagram-logo {
        visibility: visible;
      }
    }
  }

  .instagram-logo {
    color: #000;
    font-size: 24px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    @include alignContent();
    border-radius: 50%;
    visibility: hidden;
  }
}

.section-breadcrumb {
  .breadcrumb-link {
    color: var(--bs-body-color);
  }

  .breadcrumb-active {
    color: #b0b0b0;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    content: "";
  }
}

.bg-img-page-header {
  background-image: url(../images/gallery/page-header/page-header-1.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 250px;
  background-repeat: no-repeat;
}

.swiper-slide {
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.product-images-swiper-thumbnail {
  .swiper-slide-thumb-active {
    border: 1px solid #0e1115;
    border-radius: 0.5rem;
  }
}

.btn-product-color {
  @include alignContent();
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--bs-light);
}
.btn-product-size {
  @include alignContent();
  font-size: 14px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid var(--bs-border-color);
  background-color: var(--bs-white);
}
.product-quantity {
  width: 12rem;
}
.btn-filter-mobile {
  position: fixed;
  left: -37px;
  top: 50%;
  z-index: 10;
  transform: rotate(90deg);
}

.img-thumb-container {
  img {
    &:hover {
      cursor: zoom-in;
    }
  }
}

.separator {
  display: flex;
  align-items: center;
  .line {
    height: 1px;
    flex: 1;
    background-color: #dee2e6;
  }
  p {
    padding: 0 1rem;
    color: #919191;
    font-size: 14px;
  }
}

.my-account-menu {
  .active {
    background-color: #212529;
  }
}

.account-menu-list-item {
  color: #262626;
  padding: 8px 16px;
  font-weight: 500;
  border-radius: 8px;
  transition: 0.2s all;
  &:hover {
    background-color: #fff;
  }
}

.tabular-product-details {
  .nav-pills {
    width: 100%;
    width: -moz-max-content;
    background-color: #ffffff;
    .nav-link {
      color: var(--bs-body-color);
      border: 1px solid var(--bs-border-color);
    }
    .active {
      color: var(--bs-white);
      background-color: var(--bs-dark);
    }
  }

  .customer-reviews-list {
    .customer-pic {
      @include alignContent();
      font-size: 24px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #e3e4e5;
    }
  }
}

.category-number {
  color: #7e7e7e;
}

.page-pagination {
  .pagination {
    --bs-pagination-color: #212529;
    --bs-pagination-active-bg: #212529;
    --bs-pagination-hover-color: #212529;
    --bs-pagination-focus-color: #212529;
    --bs-pagination-active-border-color: #212529;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.25);
  }
}

.bg-indigo {
  background-color: var(--bs-indigo) !important;
}
.bg-black {
  background-color: var(--bs-black) !important;
}
.bg-orange {
  background-color: var(--bs-orange) !important;
}
.bg-pink {
  background-color: var(--bs-pink) !important;
}
.bg-red {
  background-color: var(--bs-red) !important;
}
.bg-green {
  background-color: var(--bs-green) !important;
}
.bg-yellow {
  background-color: var(--bs-yellow) !important;
}

.back-to-top {
  display: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 26px;
  color: #fff;
  position: fixed;
  border-radius: 50%;
  bottom: 24px;
  right: 24px;
  background-color: var(--bs-body-color);
  z-index: 5;
  &:hover {
    color: #fff;
    background-color: var(--bs-body-color);
    transition: all 0.5s;
  }
}

.footer-widgets {
  .social-link {
    a {
      font-size: 20px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      @include alignContent();
    }
  }

  .footer-link {
    color: #5d6268;
    font-size: 14px;
  }
  .news-letter-caption {
    @extend .footer-link;
  }
}

.brand-logo-img {
  max-height: 52px;
  width: auto;
  object-fit: contain;
}
