.price-range-block {
    margin:60px;
}

.sliderText{
    width:40%;
    margin-bottom:30px;
    border-bottom: 2px solid red;
    padding: 10px 0 10px 0px;
    font-weight:bold;
}
 
.ui-slider-horizontal {
    height: .5em;
}
.ui-slider-horizontal {
    margin-bottom: 24px;
}
.ui-widget-header {
    background-color: #212529;
}

.ui-slider .ui-slider-handle {
    border-radius: 50%;
    background-color: #fff;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.4em;
}

.search-results-block {
    position: relative;
    display: block;
    clear: both;
}

